<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1><%= pageTitle %></h1>
        <form class="product-form" action="/signup" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if (flashMessage.length > 0) { %>
                <div class="form-control user-message user-message__error">
                    <div><%= flashMessage %></div>
                </div>
            <% } %>
            <div class="form-control">
                <label for="name">Name:</label>
                <input type="name" name="name" id="name" value="<%= oldData.name %>"
                    class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail:</label>
                <input type="email" name="email" id="email" value="<%= oldData.email %>"
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" value="<%= oldData.password %>"
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= oldData.confirmPassword %>"
                    class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>">
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>