<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1><%= pageTitle %></h1>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% for (let product of products) { %>
                    <li class="cart__item">
                        <h2 class="title"><%= product.productId.title %></h2>
                        <h2><%= product.quantity %></h2>
                        <form action="/cart-delete-product" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="delete">Delete</button>
                            <input type="hidden" name="productId" id="productId" value="<%= product.productId._id %>">
                        </form>
                    </li>
                <% } %>
                <li>
                    <!--
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn-order">Order Now</button>
                    </form>
                    -->
                    <a href="/checkout"><button type="button" class="btn-order">Checkout</button></a>
                </li>
            </ul>

        <% } else { %>
            <h1>No products found!</h1>
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>