<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1><%= pageTitle %></h1>
        <form class="product-form" action="/reset-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if (flashError.length > 0) { %>
                <div class="form-control user-message user-message__error">
                    <div><%= flashError %></div>
                </div>
            <% } %>
            <% if (flashSuccess.length > 0) { %>
                <div class="form-control user-message user-message__success">
                    <div><%= flashSuccess %></div>
                </div>
            <% } %>
            <div class="form-control">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
            </div>
            <button type="submit">Login</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>