<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/orders.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1><%= pageTitle %></h1>
        <% if (orders.length > 0) { %>
            <ul class="order__item-list">
                <% orders.forEach(order => { %>
                    <li class="order__item">
                        <small>#<%= order._id %> </small>
                        <ul class="order__item-list ">
                            <% order.products.forEach(product => { %>
                                <li><%= product.product.title %> (<%= product.quantity %>)</li>
                            <% }) %>
                        </ul>
                        <a href="invoice/<%= order._id %>">Download invoice</a>
                    </li>
                <% }) %>
            </ul>

        <% } else { %>
            <h1>No products found!</h1>
        <% } %>

    </main>

<%- include('../includes/end.ejs') %>